html {
    font-family: "Avenir Next", Helvetica, sans-serif;
    text-align: center;
}

body {
    max-width: 50px;
    margin: 0 auto;
    text-align: center;
}

input {
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
}

    input:focus {
        outline: none;
    }

li {
    text-align: left;
    font-size: 40px;
    list-style: none;
    margin: 0;
}

#footer {
    background-color: blueviolet;
    font-weight: bold;
    display: block;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    border-top: solid;
    text-align: center;
    padding-top: 10px
}

.remove {
    padding-bottom: 5px;
}
